/*
A button suitable for giving stars to someone.

:hover             - Subtle hover highlight.
.stars-given       - A highlight indicating you've already given a star.
.stars-given:hover - Subtle hover highlight on top of stars-given styling.
.disabled          - Dims the button to indicate it cannot be used.

Styleguide 1.2.3.
*/
a.button.star { background: #adff2f; }
a.button.star.stars-given{ background: yellow; }
a.button.star.disabled{ background: gray; }
